<div style="text-align: center;">
    <app-boleta [valor]="boleta.valor1"></app-boleta>
    <app-boleta [valor]="boleta.valor2"></app-boleta>
    <app-boleta [valor]="boleta.valor3"></app-boleta>
    <app-boleta [valor]="boleta.valor4"></app-boleta>
</div>
<hr>
<div style="text-align: center;">
    <button class="btn btn-danger" (click)="boleta.jugar()" >Jugar</button>
</div>
<hr>
<h2 style="text-align: center;">{{boleta.numeroGanador}}</h2>
<hr>
<app-par-impar [valor]="boleta.suma" (parImpar)="boleta.llamarParImpar($event)" #calculo></app-par-impar>
<div style="text-align: center;"><h3>{{boleta.mensaje}}</h3></div>
<hr>
<router-outlet></router-outlet>